.StreamingStatus {
  float: right;
}

.VideoPreview {
  z-index: 99999;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.small {
  width: 320px;
  height: 240px;
}

.medium {
  width: 640px;
  height: 480px;
}

.StreamingStatus .icon-status {
  float: right;
}